:root{ --brand-color: #212121;}
:root{ --grey-item: #757575;}
:root{ --blue-item: #2196f3;}

.section{padding-top: 94px;
padding-bottom: 94px;}

ul {
  list-style-type: none;
}

.container{ width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
  padding: 0 15px;
  margin: 0 auto;}

  .header-style{ display: flex;
    align-items: center;
    justify-content: space-between}

body {
  max-width: 254;
  gap:46px;
  margin-top: 0;
  padding: 0;
  margin-left: 93px;
  margin-bottom: 32px;
  padding-bottom: 32px;
    font-family: "Roboto", sans-serif;
    color:var(--brand-color);
    background-color: #e5e5e5;
    background-color: #f5f4fa;
  } 

  .header-wrapper { max-width: 1200px;
    display:flex;
  align-items: center;
 }
 .menu {
  width: 254px;
  height: 16px;
  padding-left: 453px;
  margin-top: 32px;
  display: flex;
  justify-content: center;
  gap: 46px;
}
.mail {
  color: var(--grey-item);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em; 
margin-right: 50px;}

.telephone {
  color: var(--grey-item);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;}

.mail-telephone{display: inline;}

.mail:hover{color: var(--blue-item);}
.telephone:hover{color: var(--blue-item);}

 .logo-item{
  padding-right: 15px;
    }
  
    .studioname {
      color: var(--blue-item);
      font-family: "Raleway";
      font-size: 26px;
      line-height: 1.19;
    }
    .dark {
      color: #000000;
    }

  .grey-class {
    padding: 0 80px;
    background-color:#2f303a;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: space-between;
      font-family: inherit;
    }
  

  .h1 {text-align: center;
  font-size: 44px;
  color: white;
  line-height: 1.36;
  letter-spacing: 0.06em;
  padding-top: 200px;
  text-align: center;
  align-items: center;
  margin: 0 auto 30px;
    display: block;
}

.button-main {
  background-color:var(--blue-item);
  font-family: inherit;
  font-size: 16px;
  color: white;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
  cursor: pointer;
  margin: 0 auto;
    display: block;
    align-items: center;
}
.lorem-class {
  margin: 0 auto;
  margin-top: 94px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color:var(--brand-color);
  width: 1170px;
}
.loremlist{display: flex;
  align-items:center;
gap: 30px;
}
    
  .lorem-h3 { 
    display: flex;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color:var(--brand-color);
    Width: 270px;
    Height: 16px;
    Top: 774px;
    Left: 215px;}

  h2 {
    color: var(--brand-color);
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    align-items: center;
    align-content: center;
    text-align: center;
    margin-left:624px;
  }
   
  .team{display: flex;
margin-left: 500px;}

  .teammembers{display: flex;
    text-align: center;
  gap:30px;
  Width: 1170px;
  Height: 386px;
  Top: 969px;
  Left: 215px;}

  .loremparagraph {
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    align-items: center;
    font-style: normal;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color:var(--grey-item);
    text-align:justify;
    width: 270px;
height: 75px
  }
  .job-class{  padding: 0 15px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1170px;
padding-left: 215px;
padding-top: 969px;
align-items: center;
align-content: center;
  }
  .job {display:flex;
align-items: center;
align-content: center;
margin-left: 409px;}

  .name {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color:var(--brand-color);
    text-align:center
  }

  .position {
    font-style: normal;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color:var(--grey-item);
    text-align: center;
  }
  button {
    font-family: inherit;
    color:var(--brand-color);
    font-size: 16px;
    line-height: 1.6;
    background-color: #e5e5e5;
    border: none;
    cursor: pointer;
  }
  button:hover {
    background-color:var(--blue-item);
    color: white;
  }
  .pictures{display: flex;
  text-align: center;
gap:30px;}

  a {
    text-decoration: none;
    color:var(--brand-color);
  }
  nav {
    text-decoration: none;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
  .navmenu:hover {
    color:var(--blue-item);
  }
  .navmenu:focus {
    color: var(--blue-item);
  }
  .navmenu:active {
    color: var(--blue-item);
  }
  
  .navmenu > a {
    font-family: "Raleway", sans-serif;
    color: black;
    font-size: 26px;
  }
  .navmenu{flex-grow: 1;}
  .logo > .blue {
    color: var(--blue-item);
  }
  
  ul {
    list-style-type: none;
  }
  .contact {
    text-decoration: none;
    color:var(--grey-item);
    font-size: 14px;
    line-height: 1.17;
  }
  .contact:hover {
    color: var(--blue-item);
  }
  
.footer-class {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1600px;
  padding-left: 0px;
  padding-top: 2097px;
align-items:center;}  

.studioname { display: flex; 
  height:31px;
margin: 0 auto;
}
  
  .cityadress {
    color: #ffffff;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    margin: 0 auto;  }

  .mail-footer {
 margin:0 auto;
    color: var(--grey-item);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;}
  
  .telephone-footer {
  margin: 0 auto;
    color: var(--grey-item);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;}
  
  .mail-telephone-footer{display: inline;}
  
  .telephone-footer:hover{color: var(--blue-item);}
  
  .footer-background {
    width: 1600px;
    height: 252px;
    background: #2f303a;
  }
  
  .specialization {
    color:var(--brand-color);
    font-size: 18px;
    line-height: 2;
  }
  .range {
    color:var(--grey-item);
    font-size: 16px;
    line-height: 1.8px;
  }

  .white {
    color: #ffffff;
  }
  .member{border-radius: 0px 0px 4px 4px;}

  .menu-portfolio {
    font-weight: 500px;
    font-size: 14px;
    line-height: 1.14;
    display:flex;
  align-items: center;
 }

  .portoflio {
    color: var(--blue-item);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.02em;
  }
  .container2 { width: 1600px;}

.header-wrapper2 {
    display:flex;
  align-items: center;
 }

  .mail-2 {display: inline;
width: 135px;
height: 16px;
left: 1078px;
top: 32px;
    color: var(--grey-item);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  .mail-2:hover{color: var(--blue-item);}


  .telephone-2 {display: inline;
    color: var(--grey-item);}

.container-allimagesproject{
margin-top: auto;
display: block;
}

.telephone-2:hover{color: var(--blue-item);}

  .buttons {
    font-family: inherit;
    color:var(--brand-color);
   margin-top: auto;
   display:block;}