
body {
    font-family: "Roboto", sans-serif;
    color:var(--brand-color);
    background-color: #e5e5e5;
    background-color: #f5f4fa;
  } 
  :root{ --brand-color: #212121;}
  :root{ --grey-item: #757575;}
  :root{ --blue-item: #2196f3;}
  .main-box {
    background-color: #2f303a;
    font-family: inherit;
  }
  
  h1 {;
    font-size: 44px;
    color: white;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
  }
  .button-main {
    background-color:var(--blue-item);
    font-family: inherit;
    font-size: 16px;
    color: white;
    box-align: center;
    line-height: 1.88;
    letter-spacing: 0.06em;
    border: none;
    cursor: pointer;
  }
  
  .lorem {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color:var(--brand-color);
  }
  h2 {
    color: var(--brand-color);
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
  }
  .loremparagraph {
    font-style: normal;
    font-size: 14px;
    line-height: 1.17;
  
    letter-spacing: 0.03em;
  
    color:var(--grey-item);
  }
  .name {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
  
    letter-spacing: 0.03em;
  
    color:var(--brand-color);
  }
  
  .position {
    font-style: normal;
    font-size: 16px;
    line-height: 1.18;
  
    letter-spacing: 0.03em;
  
    color:var(--grey-item);
  }
  button {
    font-family: inherit;
    color:var(--brand-color);
    font-weight: "500";
    font-size: 16px;
    line-height: 1.6;
    background-color: #e5e5e5;
    border: none;
    cursor: pointer;
  }
  button:hover {
    background-color:var(--blue-item);
    color: white;
  }
  
  a {
    text-decoration: none;
    color:var(--brand-color);
  }
  nav {
    text-decoration: none;
    font-size: 14px;
    font-weight: "500";
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
  .navmenu:hover {
    color:var(--blue-item);
  }
  .navmenu:focus {
    color: var(--blue-item);
  }
  .navmenu:active {
    color: var(--blue-item);
  }
  
  .navmenu > a {
    font-family: "Raleway", sans-serif;
    color: black;
    font-size: 26px;
  }
  .logo > .blue {
    color: var(--blue-item);
  }
  
  ul {
    list-style-type: none;
  }
  .contact {
    text-decoration: none;
    color:var(--grey-item);
    font-size: 14px;
    font-weight: "500";
    line-height: 1.17;
  }
  .contact:hover {
    color: var(--blue-item);
  }
  
  .specialization {
    color:var(--brand-color);
    font-size: 18px;
    line-height: 2;
  }
  .range {
    color:var(--grey-item);
    font-size: 16px;
    line-height: 1.8px;
  }
  
  .studioname {
    color: var(--blue-item);
    font-family: "Raleway";
    font-size: 26px;
    line-height: 1.19;
  }
  .dark {
    color: #000000;
  }
  .white {
    color: #ffffff;
  }
  
  .menu {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
  }
  
  .portoflio {
    color: var(--blue-item);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.02em;
  }
  
  .mail {
    color: var(--grey-item);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  .mail:hover{color: var(--blue-item);}


  .telephone {
    color: var(--grey-item);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
  }

  .telephone:hover{color: var(--blue-item);}

  .buttons {
    font-family: inherit;
    color:var(--brand-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
  }
  .adress { font-style: normal;}
  
  .backround {
    background: #2f303a;
  }
  .cityadress {
    color: #ffffff;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
  }
  
  ul {
    list-style-type: none;
  }
  
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;